#een{background-color: black;}
h1{color: white; font-family: "Libre Baskerville", serif; text-transform: uppercase;}
h2{color: white; font-family: "Libre Baskerville", serif ;}
h3{color: lightcoral;font-size: 2rem;}
h4{color:lightpink;font-size: 1rem;}
#eerste{ width: 50%; margin-left: 25%; text-align: center;}
#beer{border: 5px solid white}
div{margin-left: 25%;height: 200px; width: 350px;}
#baan{background-color: lightcoral;}